<p>users works!</p>


<button (click)="showAllUsers()">GET all users</button>
<div *ngIf="show">
    <p *ngFor="let user of users">
        <strong>User:</strong>
        {{ user.user_id }}
        {{ user.username }}
    </p>
</div>

<!-- method not yet tested -->
<div id="search-container">
    <form [formGroup]="userFindForm" (ngSubmit)="showUser()">
        

        <div class="form-group">
            <label for="id">Password</label>
            <input id="id" class="form-control" formControlName="id"/>
        </div>

        <div class="form-group">
            <button class="btn btn-primary">Get user by id</button>
        </div>
    </form>
    <p>
        <strong>User:</strong>
        {{ targetUser.user_id }}
        {{ targetUser.username }}
    </p>
</div>