
<p>Admin Dashboard</p>

<!-- get all users -->
<div id="get-container" class="formcontainer">
    
    <!-- <div *ngIf="showAllUsers"> -->
        <!-- ag-grid table api -->
        <ag-grid-angular
        style="width: 1000px; height: 400px;"
            class="ag-theme-alpine"
            [rowData]="rowData"
            [columnDefs]="columnDefs"
            
            >
        </ag-grid-angular>
        <!-- (gridReady)="onGridReady($event)" -->

        <button class="btn btn-primary" (click)="showAllUsers()">Refresh Users Table</button>
        <!-- <p *ngFor="let user of users">
            <strong>User:</strong>
            {{ user.user_id }}
            {{ user.username }}
            {{ user.role }}
        </p> -->
    <!-- </div> -->
</div>
<!-- find user by id: ========= Not much of a point in using. -->
<!-- <div id="search-container" class="formcontainer">
    <form [formGroup]="userFindForm" (ngSubmit)="showUser()">
        

        <div class="form-group">
            <label for="id">ID</label>
            <input id="id" class="form-control" formControlName="id"/>
        </div>

        <div class="form-group">
            <button class="btn btn-primary">Get user by id</button>
        </div>
    </form>
    <p *ngIf="show">
        <strong>User:</strong>
        {{ tgtUser[0].user_id }}
        {{ tgtUser[0].username }}
    </p>
</div> -->
<!-- delete by id -->
<div id="delete-container" class="formcontainer">
    <form [formGroup]="userDeleteForm" (ngSubmit)="deleteUser()">
        

        <div class="form-group">
            <label for="idDelete">ID</label>
            <input id="idDelete" class="form-control" formControlName="idDelete"/>
        </div>

        <div class="form-group">
            <button class="btn btn-primary">Kill target user</button>
        </div>
        <!-- may include success/fail message here -->
    </form>
</div>

<!-- update -->
<div id="update-container" class="formcontainer">
    <form [formGroup]="userUpdateForm" (ngSubmit)="updateUser()">
        <div class="form-group">
            <label for="idUpdate">ID</label>
            <input id="idUpdate" type="text" class="form-control" formControlName="idUpdate"/>
        </div>

        <div class="form-group">
            <label for="usernameUpdate">Username</label>
            <input id="usernameUpdate" type="text" class="form-control" formControlName="usernameUpdate"/>
        </div>

        <div class="form-group">
            <label for="passwordUpdate">Password</label>
            <input id="passwordUpdate" type="password" class="form-control" formControlName="passwordUpdate"/>
        </div>

        <div class="form-group">
            <label for="emailUpdate">Email</label>
            <input id="emailUpdate" type="text" class="form-control" formControlName="emailUpdate"/>
        </div>

        <div class="form-group">
            <label for="firstNameUpdate">First Name</label>
            <input id="firstNameUpdate" type="text" class="form-control" formControlName="firstNameUpdate"/>
        </div>

        <div class="form-group">
            <label for="lastNameUpdate">Last Name</label>
            <input id="lastNameUpdate" type="text" class="form-control" formControlName="lastNameUpdate"/>
        </div>
        <div class="form-group">
            <label for="roleUpdate">Role</label>
            <select formControlName="roleUpdate" id="roleUpdate">
                <option>USER</option>
                <option>MANAGER</option>
                <option>ADMIN</option>
                <option>INACTIVE</option>
            </select>
        </div>

        <div class="form-group">
            <button class="btn btn-primary">Update</button>
        </div>
        <!-- may include success/fail message here -->
    </form>
</div>
