<app-nav></app-nav>
<br/>
<br/>
<br/>
<router-outlet></router-outlet>

<!-- demo code -->

<!-- The below code is commented out and kept for posterity -->
<!-- <h1>Hello NG!</h1>

<button (click)="show('structural')">Show Structural Directives</button>
<button (click)="show('attribute')">Show Attribute Directives</button>
<button (click)="show('pipes')">Show Pipes</button>
<button (click)="show('login')">Show Login</button>

<div *ngIf="showStructural">
    <h2>Structural Directives</h2>
    <app-structural-directives></app-structural-directives>
</div>

<div *ngIf="showAttribute">
    <h2>Attribute Directives</h2>
    <app-attribute-directives></app-attribute-directives>
</div>

<div *ngIf="showPipes">
    <h2>Pipes</h2>
    <app-pipes></app-pipes>
</div>

<div *ngIf="showLogin">
    <h2>Login</h2>
    <app-login></app-login>
</div> -->