<p>Hello, {{currentUser.username}} !</p>

<div id="userData">
    <p>Your user ID: {{currentUser.id}}</p>
    <p>Role: {{currentUser.role}}</p>
    <p>Click Home to see items!</p>
</div>

<app-checkout></app-checkout>

<div id="get-container-orders" class="formcontainer">
    
    <!-- <div *ngIf="showAllUsers"> -->
        <!-- ag-grid table api -->
        <ag-grid-angular
        style="width: auto; height: 500px;"
            class="ag-theme-alpine"
            [rowData]="rowData"
            [columnDefs]="columnDefs"
            
            >
        </ag-grid-angular>
        <!-- (gridReady)="onGridReady($event)" -->

        <button class="btn btn-primary" (click)="showAllOrdersByUser()">Refresh Orders</button>
        <!-- <p *ngFor="let user of users">
            <strong>User:</strong>
            {{ user.user_id }}
            {{ user.username }}
            {{ user.role }}
        </p> -->
    <!-- </div> -->
</div>
