<div class="search">
    <h5>Hats Mall Item </h5>
    <input type="text"[(ngModel)]="keyword"> &nbsp;&nbsp;<button class="btn btn-secondary" (click)="doSearch()">search</button>
    <p>{{keyword}}</p>
  
</div>

            <div *ngIf="isItemExist">
           <img src={{newItem.itemImageUrl}}>    <!--Item URL Here-->
          <h5>{{newItem.name}}</h5>
          <h5>$&nbsp;{{newItem.price}}</h5>
          <h5>Product ID: 0000{{newItem.id}}</h5>

            </div>
   
 
  
        <div *ngFor="let item of historyList; let key = index;">
          Search List:   {{item}}  <button class="btn btn-outline-success" (click)="deleteHistory(key)">cancel</button>
            
            
        </div>

        <hr>

   
